@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");

.landing-section {
  height: calc(100vh - 96px);
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

.heading {
  text-align: center;
  padding: 120px 24px 230px;
}

.landing.heading {
  padding: 0 16px;
}

.desc {
  height: 500px;
  margin: auto;
  margin-top: -130px;
}

.know-more {
  margin: -40px auto 40px;
}
