@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");

.avatar {
  padding: 32px 80px;
  position: relative;
}

.section-heading {
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1.125;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-subheading {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
